<% var isProd = locals.env === 'production'; %>

<html>

	<head>
    	<title>MEANg2 Typescript Seed</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<base href="/">
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="stylesheet" href="app<%= isProd ? '.min' : '' %>.css">
  	</head>

	<body>

		<application>
			<div id="app-loading">
				<span class="fa fa-cog fa-spin"></span>
			</div>
		</application>

		<!-- Script Bundles -->
		<% if (!isProd) { %>
			<script src="//localhost:35729/livereload.js"></script>
		<% } %>

		<script src="vendor<%= isProd ? '.min' : '' %>.js"></script>
		<script src="app<%= isProd ? '.min' : '' %>.js"></script>

		<!-- Close bootstrap mobile nav on click -->
		<script>
			$(document).ready(function(){
				$(this).on('click', '.navbar-collapse.in a, .navbar-header a', function(){
					$('.navbar-collapse').collapse('hide');
				});
			});
		</script>

	</body>

</html>
